root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.json]
insert_final_newline = false

[*.{gif,gitignore,html,jpeg,jpg,md,png,svg,vscodeignore}]
insert_final_newline = false
trim_trailing_whitespace = false

[LICENSE]
insert_final_newline = false
trim_trailing_whitespace = false
