**/*.map
.vscode/**
documentation/**
!documentation/examples/*
!documentation/images/*
!documentation/documentation.html
images/**/*.gif
out/test/**
src/**
typings/**
test/**
.editorconfig
.gitignore
ISSUE_TEMPLATE.md
tsconfig.json
tslint.json